
.header{
    width: 100%;
    height: 50px;
    background-color: #b5a595;
}
#icon{
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 28px;
   font-weight: bold;

}
span{
    margin-left: 1%;
    font-size: 33px;
    color: #f61c0d
}
nav{
    float: left;
    font-size: 20px;
    font-weight: bold;
}
nav a{
    color: black;
    text-decoration: none;
}
.git{
    background-color: rgb(0, 183, 255);
    padding: 7px 14px;
}
.signup{
    background-color: rgb(0, 26, 255);
    padding: 7px 14px;
}
.login{
    background-color: #00ff40;
    padding: 7px 14px;
}
#social{
    float: right;
    margin-top: 10px;
    width: 30%;

}
#social img{
    height: 30px;
    float: left;
}
.listing{
    width: 86%;
    height: 800px;
   
    margin-left: 7%;
}
 .filter{
    width: 18%;
    height: 400px;
    position: sticky;
    margin-left: 3%; 
    margin-top: 3%;
    float: left;
    overflow: scroll;
 
 }
 .a{
     color: rgb(255, 30, 0);
     font-size: 35px;
 }
 .headingA{
    color: rgb(4, 69, 122);
    font-size: 25px;

}
.subheadingA{
    color:  rgb(0, 0, 0);
    font-size: 15px;

}
 .content{
    width: 76%;
    height: 600px;
    overflow: scroll;
    margin-left: 3%;
    float: left;
    margin-top: 3%;
 }
 .tilecontainer{
     height: 300px;
     width: 90%;
    box-shadow: 10px 10px 10px rgb(124, 103, 77);
     margin-left: 5%;
     margin-top: 5%;
     border-radius: 10%;
 }
 .container1{
    height: 250px;
    width: 50%;
   border-radius: 10%;
    float: left;
    margin-top: 2%;
   background-repeat: no-repeat;

 }
 .imag{
    height: 250px;
    width: 100%;
   border-radius: 10%;
 }
 
 .container2{
     margin-top: 2%;
    height: 300px;
    width: 48%;
       float: left;
       margin-left: 2%;
       
 }
 .heading{
    color: coral;
    font-size: 25px;

}
.subheading{
    color:  darkblue;
    font-size: 15px;

}
.breakfast{
    background-color: rgb(60, 60, 100);
    margin-left: 1%;
    padding: 6px 16px;
    color: white;
    font-size: medium;
    border-color: white;
     
}
.lunch{
    background-color: rgb(92, 202, 77);
    margin-left: 1%;
    padding: 6px 16px;
    color: white;
    font-size: medium;
    border-color: white;
}
.northindian{
    background-color: #fd4444;
    margin-left: 1%;
    padding: 6px 16px;
    color: white;
    font-size: medium;
    border-color: white;
}
.fastfood{
    background-color: rgb(250, 225, 0);
    margin-left: 1%;
    padding: 6px 16px;
    color: white;
    font-size: medium;
    border-color: white;
}

.footer{
    height: 180px;
    width: 100%;
    margin-bottom: 1px;
}
.f1{
    height: 50px;
    width: 100%;
    background-color: #b5a595;
    text-align: center;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.f2{
    height: 130px;
    width: 100%;
    background-color:#b5a595;
    text-align: center;
 
}
.f2a{
    width: 33%;
    float: left;
    line-height: 4%;

}
.f2b{
    width: 33%;
    border-left: 2px solid black;
    border-right: 2px solid black;
    float: left;
    line-height: 4%;
}

















